body {
  background-color: #dbdbdb;
}

.wrapper {
}

header {
  width: 1100px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

.procession_A {
}

.procession_B {
}

.btn_box {
}

button {
  width: 100px;
  padding: 20px 0;
  border: 0px;
  border-radius: 5px;
  margin: 0 1px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

button:hover {
  background-color: #2c3d51;
  border-color: #2c3d51;
  -webkit-box-shadow: 0 3px 0 #080c0f;
  box-shadow: 0 3px 0 #080c0f;
}

.btn_a {
  background-color: #2479b6;
  border-color: #2479b6;
  -webkit-box-shadow: 0 3px 0 #1c6394;
  box-shadow: 0 3px 0 #1c6394;
}
.btn_b {
  background-color: #2a91db;
  border-color: #2a91db;
  -webkit-box-shadow: 0 3px 0 #1d6ea7;
  box-shadow: 0 3px 0 #1d6ea7;
}
.btn_c {
  background-color: #be3b26;
  border-color: #be3b26;
  -webkit-box-shadow: 0 3px 0 #842719;
  box-shadow: 0 3px 0 #842719;
}

/* 결과 출력 */

.main_title {
  font-size: 24px;
  margin: 30px;
}

.result_box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 50vh;
}

.input_a {
}
.input_b {
}
.equals_value {
  display: none;
}
.input_value {
}

/* 푸터 */
footer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -0%);
  padding: 20px;
  bottom: 0;
}
